@import url(./components/variables.css);
@import url(./components/header-and-footer.css);
@import url(./components/images.css);
@import url(./components/form.css);
@import url(./components/buttons.css);

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f2bb9b;
}

header {
  flex: 0; /* Header remains its natural height */
}

main {
  flex: 1; /* Main takes up remaining space */
}

footer {
  flex: 0; /* Footer remains its natural height */
}
/* body {
  background-color: #f2bb9b;
  margin: 0%;
} */

/* Homepage */

.website-title-box {
  text-align: center;
}

/* Contact Page */

.flex-contact {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* about */
.container-about-page {
  padding: 2% 20%;
}

.mini-container-about {
  display: flex;
  gap: 100px;
}

.post-container {
  background-color: var(--main-colour-dark-r);
  padding: 4%;
}

/* Media Queries */
/* Mobile */
@media (max-width: 799px) {
  .container-about-page {
    padding: 2% 10%;
  }

  .mini-container-about {
    flex-direction: column;
    gap: 30px;
  }
}
