@import url(./variables.css);
@import url(./fonts.css);

.btn-form,
.preview-button {
  background-color: var(--main-colour-r);
  color: white;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
}

.hamburger {
  position: absolute;
  background-color: var(--main-colour-b);
  color: var(--main-colour-i);
  border: none;
  cursor: pointer;
}

.closeIcon {
  position: fixed;
  margin-left: 300px;
}

.contact-link {
  color: var(--main-colour-i);
}

.thumb-btn.darkRed,
.thumb-btn.darkBlue,
.thumb-btn.blue,
.thumb-btn.default {
  color: white;
  background-color: var(--main-colour-r);
  border-color: var(--main-colour-r);
  border-radius: 10px;
  padding: 10px 40px;
  margin-top: 15%;
}

.thumb-btn.darkBlue {
  color: white;
  background-color: var(--main-colour-i);
  border-color: var(--main-colour-i);
}

.thumb-btn.blue {
  color: var(--main-colour-i);
  background-color: var(--main-colour-b);
  border-color: var(--main-colour-b);
}

.thumb-btn.default {
  background-color: var(--main-colour-p);
  border-color: var(--main-colour-p);
}

.load-more-btn {
  background-color: var(--main-colour-b);
  color: var(--main-colour-i);
  padding: 10px 80px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  cursor: pointer;
  padding: 10px 20px;
  background: white;
  border: none;
  color: black;
  font-weight: 900;
  font-size: larger;
  border-radius: 10%;
}

.carousel-btn.prev {
  left: 0;
}

.carousel-btn.next {
  right: 0;
}

/* Media Queries */

@media (max-width: 809px) {
  .carousel-btn {
    padding: 10px;
  }
}

@media (min-width: 810px) and (max-width: 1080px) {
}
