@import url(./variables.css);
@import url(./fonts.css);

.btn-form {
  background-color: var(--main-colour-dark-r);
  color: white;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
}

.hamburger {
  position: absolute;
  background-color: var(--main-colour-gb);
  color: var(--main-colour-dark-b);
  border: none;
  cursor: pointer;
}

.closeIcon {
  position: fixed;
  margin-left: 350px;
}

.contact-link {
  color: var(--main-colour-dark-b);
}

.thumb-btn.darkRed,
.thumb-btn.darkBlue,
.thumb-btn.blue,
.thumb-btn.default {
  color: white;
  background-color: var(--main-colour-dark-r);
  border-color: var(--main-colour-dark-r);
  border-radius: 10px;
  padding: 10px 40px;
}

.thumb-btn.darkBlue {
  color: white;
  background-color: var(--main-colour-dark-b);
  border-color: var(--main-colour-dark-b);
}

.thumb-btn.blue {
  color: var(--main-colour-dark-b);
  background-color: var(--main-colour-gb);
  border-color: var(--main-colour-gb);
}

.thumb-btn.default {
  background-color: var(--main-colour-p);
  border-color: var(--main-colour-p);
}

.load-more-btn {
  background-color: var(--main-colour-gb);
  color: var(--main-colour-dark-b);
  padding: 20px 50px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  cursor: pointer;
  padding: 10px 20px;
  background: white;
  border: none;
  color: black;
  font-weight: 900;
  font-size: larger;
  border-radius: 10%;
}

.carousel-btn.prev {
  left: 0;
}

.carousel-btn.next {
  right: 0;
}
