@import url(./variables.css);
@import url(./fonts.css);

.btn-form {
  background-color: var(--main-colour-dark-r);
  color: white;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
}

.hamburger {
  position: fixed;
  background-color: var(--main-colour-gb);
  color: var(--main-colour-dark-b);
  border: none;
  cursor: pointer;
}
