@import url(./variables.css);

a,
.h1-homepage,
.about-text {
  font-family: var(--main-header-font);
}

a,
.h1-homepage,
.load-more-btn,
.thumb-btn.darkRed,
.thumb-btn.darkBlue,
.thumb-btn.blue,
.thumb-btn.default {
  font-size: large;
}

p,
.about-text {
  font-size: larger;
  line-height: 1.6;
}

.description-line-homepage,
.description-line-footer,
.description-line-about,
.about-text,
.load-more-btn,
.thumb-btn.darkRed,
.thumb-btn.darkBlue,
.thumb-btn.blue,
.thumb-btn.default,
.thumb-title,
p,
.post-title-carousel {
  font-family: var(--main-text-font);
}

.description-line-homepage,
.description-line-footer {
  font-style: italic;
  font-weight: lighter;
}

.h1-homepage,
.description-line-about,
.subheading-postPage {
  color: var(--main-colour-dark-r);
}

.subheading-postPage,
.h1-homepage {
  text-align: center;
}

.h1-homepage,
.post-title-carousel {
  font-size: 56px;
}

.menuIcon {
  font-size: 32px;
}

.about-text {
  text-align: left;
  padding-top: 30px;
}

.description-line-about {
  font-size: 46px;
}

.thumb-title,
.post-title-carousel {
  color: white;
}

.post-title-carousel {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0%;
}

a.post-card {
  text-decoration: none;
}
/* Media Queries */
@media (max-width: 799px) {
  a.nav-footer {
    font-size: medium;
  }

  .about-text {
    font-size: medium;
    padding-bottom: 0%;
  }

  p {
    font-size: large;
  }
}
