@import url(./variables.css);

a,
.h1-homepage,
.about-text {
  font-family: var(--main-header-font);
  font-size: large;
}

.description-line-homepage,
.description-line-footer {
  font-family: var(--main-text-font);
  font-style: italic;
  font-weight: lighter;
}

.h1-homepage {
  font-size: 56px;
  color: var(--main-colour-dark-r);
}

.menuIcon {
  font-size: 40px;
}

.about-text {
  text-align: left;
  padding-top: 30px;
}

/* Media Queries */
@media (max-width: 799px) {
  a.nav-footer {
    font-size: medium;
  }

  .about-text {
    font-size: medium;
    padding-bottom: 0%;
  }
}
