.logo-Image {
  max-width: 250px;
  margin-left: -150px;
}

.logo-footer-image,
.acropolis-image-about {
  max-width: 350px;
}

.image-front-page-header {
  width: 1470px;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.acropolis-image-day {
  position: absolute;
  top: -250px;
  left: -450px;
}

.acropolis-image {
  position: absolute;
  top: -150px;
  left: -250px;
}

.img-contact-page {
  border-radius: 40%;
  height: 600px;
  width: 300px;
  padding: 100px 100px;
}

.vase-image-about {
  max-width: 500px;
  padding: 5%;
}

.thumb-img {
  height: 330px;
  width: 220px;
  overflow: hidden;
  padding: 10%;
  box-shadow: 8px 8px 10px black;
}

.temple-image {
  max-width: 100% !important;
  height: auto !important;
}

.flex-image {
  max-width: 30% !important;
  height: auto !important;
}

.post-img {
  max-width: 35% !important;
  height: auto !important;
  box-shadow: 8px 8px 15px black;
}

/* Media Queries */
/* Phone */
@media (max-width: 799px) {
  .image-front-page-header {
    width: auto;
    height: 300px;
  }

  .acropolis-image {
    position: absolute;
    top: -150px;
    left: -750px;
  }

  .acropolis-image-day {
    position: absolute;
    top: -250px;
    left: -1050px;
  }

  .logo-Image {
    max-width: 200px;
    margin: 8% 20%;
  }

  .img-contact-page {
    padding: 12%;
  }

  .vase-image-about {
    max-width: 300px;
    padding: 5%;
  }

  .logo-footer-image {
    max-width: 250px;
  }

  .flex-image {
    max-width: 100% !important;
    height: auto !important;
  }
}
