:root {
  --main-colour-dark-r: #731a3b;
  --main-colour-dark-b: #025159;
  --main-colour-dark-b-modal: rgba(2, 81, 89 0.7);
  --main-colour-p: #f2055c;
  --main-colour-gb: #04d9c4;
  --background-colour: #f2bb9b;
  --main-header-font: "Lucida Grande", Areal, Bodoni;
  --main-text-font: "Bodoni 72", Areal;
  --form-background: #f28488;
}
